In [93]:
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [94]:
# find schools have the best math results
math_school = schools[["school_name", "average_math"]]
best_math_schools = math_school[math_school['average_math'] >= 0.8*800].sort_values('average_math', ascending=False)

In [95]:
# top 10 performing schools based on the combined SAT scores
sat_result = schools
sat_result["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]
sat_result = sat_result.sort_values('total_SAT', ascending=False)
top_10_schools = sat_result[['school_name', 'total_SAT']].head(10)

In [96]:
# largest standard deviation in the combined SAT score of boroughs
largest_std_dev = pd.DataFrame(columns=['borough', 'num_schools', 'average_SAT', 'std_SAT'])

borough = sat_result.groupby('borough')['total_SAT'].std().idxmax()
school_in_borough = sat_result[sat_result['borough'] == borough]
num_schools = len(school_in_borough)
average_SAT = school_in_borough['total_SAT'].mean().round(2)
std_SAT = school_in_borough['total_SAT'].std().round(2)

largest_std_dev.loc[0] = [borough, num_schools, average_SAT, std_SAT]
largest_std_dev

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29